.Container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(102, 102, 164);
}

.App {
  height: 400px;
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

select {
  padding: 5px;
  width: 20%;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 12px;
}

button  {
  margin-top: 20px;
  width: calc(60% + 20px);
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgb(102, 102, 164);
  color: white;
  font-size: 14px;
  letter-spacing:3px;
}