.progress-bar {
  height: 10px;
  width: 350px;
  background-color: lightgray;
  border-radius: 30px;
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
}

.loading {
  width: max-content;
  height: max-content;
  font-size: 30px;
  position: absolute;
  top: 70px;;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
}

.progress {
  height: 10px;
  width: 0%;
  border-radius: 30px;
  background-color:rgb(24, 216, 24);
}

